body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #005f5f;
    color: white;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #005f5f;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004747;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
}

footer {
    background-color: #005f5f;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
img {
    width: 170px;
    height: 140px;
}